# deps
node_modules/

# Expo caches / local state
.expo/
.expo-shared/

# Expo web and native builds
web-build/
dist/
build/

# If you’re using Expo Managed workflow, don’t commit native folders
# (commit these only if you EJECT or maintain custom native code)
ios/
android/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml

# Tests/coverage
coverage/
.nyc_output/

# Env & secrets
.env
.env.*
*.keystore
*.jks
keystore.properties
google-services.json
GoogleService-Info.plist

# Misc
*.pid
